body {
    font-family: Arial, sans-serif;
    text-align: center;
    }
    
    .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    
    img {
    width: auto;
    background-color: #f0f0f0;
    margin: 10px;
    }
    
    img.loaded {
    opacity: 1;
    }